<section class="page-section mt-5" style="width:fit-content">


    <h2 style="text-align:center ;">PRACTICAL RECORD</h2>

    <form action="/user-form" method="POST" id="contactForm">
        <div class="data">
            <div class="form-control mb-3 col-sm-3">
                <label for="date">Date:</label>
                <input type="date" id="demo" name="date"><br>


                <label style="padding-top: 10px;" for="rollno">Roll No:</label>
                <input type="number" id="Rollno" name="Rollno"><br><br>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <table class="table" id="tablecontent">
                    <tr>
                        <h2 style="text-align:left;">Prayers:</h2>
                       
                            <td class="columncontainer">
                                <label style="padding-top:10px; ">
                                    <h5> <b> 1. Fajr:</b></h5>
                                </label>
                                <div style="padding-top: 15px;">
                                    <!-- Input Type Radio Button -->
                                    <label class="container">Excellent
                                        <input type="radio" id="fajr-1" name="Fajr" value="Excellent">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Satisfactory
                                        <input type="radio" id="fajr-2" name="Fajr" value="Satisfactory">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Not
                                        Satisfactory
                                        <input type="radio" id="fajr-3" name="Fajr" value="Not
                                    Satisfactory">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Need
                                        Attention
                                        <input type="radio" id="fajr-4" name="Fajr" value="Need
                                    Attention">
                                        <span class="checkmark"></span>
                                    </label>
                            </td>
                            <td class="columncontainer">

                                <label style="padding-top:10px; ">
                                    <h5> <b> 2. Dhuhr:</b></h5>
                                </label>
                                <!-- Input Type Radio Button -->
                                <div style="padding-top: 15px;">
                                    <label class="container">Excellent
                                        <input type="radio" id="dhuhr-1" name="Dhuhr" value="Excellent">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Satisfactory
                                        <input type="radio" id="dhuhr-2" name="Dhuhr" value="Satisfactory">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Not
                                        Satisfactory
                                        <input type="radio" id="dhuhr-3" name="Dhuhr" value="Not Satisfactory">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Need
                                        Attention
                                        <input type="radio" id="dhuhr-4" name="Dhuhr" value="Need
                                        Attention">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>

                    
                        </td>
                        
                            <td class="columncontainer">

                                <label style="padding-top:10px; ">
                                    <h5> <b> 3. Asr:</b></h5>
                                </label>
                                <!-- Input Type Radio Button -->
                                <div style="padding-top: 15px;">
                                    <label class="container">Excellent
                                        <input type="radio" name="Asr" id="asr-1" value="Excellent">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Satisfactory
                                        <input type="radio" name="Asr" id="asr-2" value="Satisfactory">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Not
                                        Satisfactory
                                        <input type="radio" name="Asr" id="asr-3" value="Not
                                        Satisfactory">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Need
                                        Attention
                                        <input type="radio" name="Asr" id="asr-4" value="Need
                                        Attention">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </td>
                            <td class="columncontainer">
                                <label style="padding-top:10px; ">
                                    <h5> <b> 4. Maghrib:</b></h5>
                                </label>
                                <!-- Input Type Radio Button -->
                                <div style="padding-top: 15px;">
                                    <label class="container">Excellent
                                        <input type="radio" id="maghrib-1" name="Maghrib" value="Excellent">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Satisfactory
                                        <input type="radio" name="Maghrib" id="maghrib-2" value="Satisfactory">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Not
                                        Satisfactory
                                        <input type="radio" name="Maghrib" id="maghrib-3" value="Not
                                        Satisfactory">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Need
                                        Attention
                                        <input type="radio" name="Maghrib" id="maghrib-4" value="Need
                                        Attention">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </td>
                        

                        <div>
                            <td class="columncontainer">

                                <label style="padding-top:10px; ">
                                    <h5> <b> 5. Isha'a:</b></h5>
                                </label>
                                <!-- Input Type Radio Button -->
                                <div style="padding-top: 15px;">
                                    <label class="container">Excellent
                                        <input type="radio" name="Ishaa" id="Ishaa-1" value="Excellent">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Satisfactory
                                        <input type="radio" name="Ishaa" id="Ishaa-2" value="Satisfactory">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Not
                                        Satisfactory
                                        <input type="radio" name="Ishaa" id="Ishaa-3" value="Not
                                        Satisfactory">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Need
                                        Attention
                                        <input type="radio" name="Ishaa" id="Ishaa-4" value="Need
                                        Attention">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </td>
                        </div>
                    </tr>
                </table>


                <!--next section-->
                <table class="table">
                    <tr class="content">
                        <h2 style="text-align:left; margin-top:40px;">Daily Activities:</h2>
                        <td class="columncontainer" style="padding-left: 5px;">

                            <label style="padding-top:10px; ">
                                <h5> <b> 1. Thilavath:</b></h5>
                            </label>
                            <div style="padding-top: 15px;">
                                <!-- Input Type Radio Button -->
                                <label class="container">Excellent
                                    <input type="radio" id="Thilavath-1" name="Thilavath" value="Excellent">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Satisfactory
                                    <input type="radio" id="Thilavath-2" name="Thilavath" value="Satisfactory">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Not
                                    Satisfactory
                                    <input type="radio" id="Thilavath-3" name="Thilavath" value="Not
                                    Satisfactory">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Need
                                    Attention
                                    <input type="radio" id="Thilavath-4" name="Thilavath" value="Need
                                    Attention">
                                    <span class="checkmark"></span>
                                </label>

                            </div>


                        </td>
                        <td class="columncontainer">



                            <label style="padding-top:10px; ">
                                <h5> <b> 2. Hifdh:</b></h5>
                            </label>
                            <!-- Input Type Radio Button -->
                            <div style="padding-top: 15px;">
                                <label class="container">Excellent
                                    <input type="radio" id="hifdh-1" name="Hifdh" value="Excellent">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Satisfactory
                                    <input type="radio" name="Hifdh" id="hifdh-2" value="Satisfactory">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Not
                                    Satisfactory
                                    <input type="radio" name="Hifdh" id="hifdh-3" value="Not Satisfactory">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Need
                                    Attention
                                    <input type="radio" id="hifdh-4" name="Hifdh" value="Need
                                        Attention">
                                    <span class="checkmark"></span>
                                </label>



                            </div>
                        </td>
                        <td class="columncontainer" style="padding-left: 5px;">



                            <label style="padding-top:10px; ">
                                <h5> <b> 3. Sunnah Prayer:</b></h5>
                            </label>
                            <!-- Input Type Radio Button -->
                            <div style="padding-top: 15px;">
                                <label class="container">Excellent
                                    <input type="radio" id="SunnahPrayer-1" name="SunnahPrayer" value="Excellent">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Satisfactory
                                    <input type="radio" name="SunnahPrayer" id="SunnahPrayer-2" value="Satisfactory">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Not
                                    Satisfactory
                                    <input type="radio" name="SunnahPrayer" id="SunnahPrayer-3" value="Not
                                        Satisfactory">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Need
                                    Attention
                                    <input type="radio" name="SunnahPrayer" id="SunnahPrayer-4" value="Need
                                        Attention">
                                    <span class="checkmark"></span>
                                </label>
                            </div>



                        </td>
                        <td class="columncontainer" style="padding-left: 5px;">



                            <label style="padding-top:10px; ">
                                <h5> <b> 4. Dhikr,Duas:</b></h5>
                            </label>
                            <!-- Input Type Radio Button -->
                            <div style="padding-top: 15px;">
                                <label class="container">Excellent
                                    <input type="radio" id="maghrib-1" name="DhikrDuas" value="Excellent">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Satisfactory
                                    <input type="radio" name="DhikrDuas" id="maghrib-2" value="Satisfactory">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Not
                                    Satisfactory
                                    <input type="radio" name="DhikrDuas" id="maghrib-3" value="Not
                                        Satisfactory">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Need
                                    Attention
                                    <input type="radio" name="DhikrDuas" id="maghrib-4" value="Need
                                        Attention">
                                    <span class="checkmark"></span>
                                </label>
                            </div>



                        </td>
                        <td class="columncontainer" style="padding-left: 5px;">



                            <label style="padding-top:10px; ">
                                <h5> <b> 5. Neat and Tidy:</b></h5>
                            </label>
                            <!-- Input Type Radio Button -->
                            <div style="padding-top: 15px;">
                                <label class="container">Excellent
                                    <input type="radio" name="NeatandTidy" id="NeatandTidy-1" value="Excellent">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Satisfactory
                                    <input type="radio" name="NeatandTidy" id="NeatandTidy-2" value="Satisfactory">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Not
                                    Satisfactory
                                    <input type="radio" name="NeatandTidy" id="NeatandTidy-3" value="Not
                                        Satisfactory">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Need
                                    Attention
                                    <input type="radio" name="NeatandTidy" id="NeatandTidy-4" value="Need
                                        Attention">
                                    <span class="checkmark"></span>
                                </label>

                            </div>


                        </td>
                        <td class="columncontainer" style="padding-left: 5px;">



                            <label style="padding-top:10px; ">
                                <h5> <b> 6. Friendship:</b></h5>
                            </label>
                            <!-- Input Type Radio Button -->
                            <div style="padding-top: 15px;">
                                <label class="container">Excellent
                                    <input type="radio" id="Friendship-1" name="Friendship" value="Excellent">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Satisfactory
                                    <input type="radio" name="Friendship" id="Friendship-2" value="Satisfactory">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Not
                                    Satisfactory
                                    <input type="radio" name="Friendship" id="Friendship-3" value="Not Satisfactory">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Need
                                    Attention
                                    <input type="radio" id="Friendship-4" name="Friendship" value="Need
                                        Attention">
                                    <span class="checkmark"></span>
                                </label>
                            </div>



                        </td>
                    </tr>
                </table>
                <table class="table">
                    <tr>
                        <h2 style="text-align:left; margin-top:40px;">Reading:</h2>
                        <td class="columncontainer">

                            <label style="padding-top:10px; ">
                                <h5> <b> 1. News Paper:</b></h5>
                            </label>
                            <div style="padding-top: 15px;">
                                <!-- Input Type Radio Button -->
                                <label class="container">Excellent
                                    <input type="radio" id="NewsPaper-1" name="NewsPaper" value="Excellent">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Satisfactory
                                    <input type="radio" id="NewsPaper-2" name="NewsPaper" value="Satisfactory">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Not
                                    Satisfactory
                                    <input type="radio" id="NewsPaper-3" name="NewsPaper" value="Not
                                    Satisfactory">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Need
                                    Attention
                                    <input type="radio" id="NewsPaper-4" name="NewsPaper" value="Need
                                    Attention">
                                    <span class="checkmark"></span>
                                </label>

                            </div>


                        </td>
                        <td class="columncontainer">



                            <label style="padding-top:10px; ">
                                <h5> <b> 2. Childrens Publications:</b></h5>
                            </label>
                            <!-- Input Type Radio Button -->
                            <div style="padding-top: 15px;">
                                <label class="container">Excellent
                                    <input type="radio" id="ChildrensPublications-1" name="ChildrensPublications"
                                        value="Excellent">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Satisfactory
                                    <input type="radio" name="ChildrensPublications" id="ChildrensPublications-2"
                                        value="Satisfactory">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Not
                                    Satisfactory
                                    <input type="radio" name="ChildrensPublications" id="ChildrensPublications-3"
                                        value="Not Satisfactory">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Need
                                    Attention
                                    <input type="radio" id="ChildrensPublications-4" name="ChildrensPublications" value="Need
                                        Attention">
                                    <span class="checkmark"></span>
                                </label>
                            </div>



                        </td>
                        <td class="columncontainer">



                            <label style="padding-top:10px; ">
                                <h5> <b> 3. Library:</b></h5>
                            </label>
                            <!-- Input Type Radio Button -->
                            <div style="padding-top: 15px;">
                                <label class="container">Excellent
                                    <input type="radio" id="Library-1" name="Library" value="Excellent">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Satisfactory
                                    <input type="radio" name="Library" id="Library-2" value="Satisfactory">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Not
                                    Satisfactory
                                    <input type="radio" name="Library" id="Library-3" value="Not
                                        Satisfactory">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Need
                                    Attention
                                    <input type="radio" name="Library" id="Library-4" value="Need
                                        Attention">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </td>
                    </tr>
                </table>
                <!--next section-->
                <table class="table">
                    <tr>
                        <h2 style="text-align:left; padding-top:40px; padding-bottom:10px;">Situations:</h2>

                        <td class="columncontainer">
                    
                                <label style=" padding-top:10px;"><b>
                                        1. My Child makes salam when (s)he enters/leaves the home.</b>
                                </label>
                                <div style=" padding-top:10px; ">
                                    <label class="container" for="salam-1">

                                        <input type="radio" id="salam-1" name="Salam" value="Yes">Yes</input>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container" for="salam-2">
                                        <input type="radio" id="salam-2" name="Salam" value="No">No</input>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                
        
                        </td>
                        <td class="columncontainer">
                                <label style="padding-top:10px;"><b>
                                        2. My Child performs daily salah without being reminded.</b>
                                </label>
                
                                <div style=" padding-top:10px; ">
                                    <label class="container" for="salah-1">

                                        <input type="radio" id="salah-1" name="Dailysalah" value="Yes">Yes</input>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container" for="salah-2">
                                        <input type="radio" id="salah-2" name="Dailysalah" value="No">No</input>
                                        <span class="checkmark"></span>
                                    </label>
                              </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="columncontainer">
                            <div>
                                <label style="padding-top:10px;"><b>
                                        3.My Child recites Quran on a daily basis.</b>
                                </label>
                                <div style=" padding-top:10px; ">
                                    <label class="container" for="recite-1">

                                        <input type="radio" id="recite-1" name="QuranRecitation" value="Yes">Yes</input>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container" for="recite-2">
                                        <input type="radio" id="recite-2" name="QuranRecitation" value="No">No</input>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td class="columncontainer">
                            <div>
                                <label style="padding-top:10px;"><b>
                                        4. My Child is obedient.</b>
                                </label>
                                <div style=" padding-top:10px; ">
                                    <label class="container" for="obedient-1">

                                        <input type="radio" id="obedient-1" name="Obidience" value="Yes">Yes</input>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container" for="obedient-2">
                                        <input type="radio" id="obedient-2" name="Obidience" value="No">No</input>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="columncontainer">
                            <div >
                                <label style="padding-top:10px;"><b>
                                        5. My Child responds to Azaan ,if heard.</b>
                                </label>
                                <div style=" padding-top:10px; ">
                                    <label class="container" for="azaan-1">

                                        <input type="radio" id="azaan-1" name="RespondstoAzaan" value="Yes">Yes</input>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container" for="azaan-2">
                                        <input type="radio" id="azaan-2" name="RespondstoAzaan" value="No">No</input>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td class="columncontainer">
                            <div >
                                <label style=" padding-top:10px; "><b>
                                        6. My Child keeps modesty in his/her dressing.</b>
                                </label>
                                <div style=" padding-top:10px; ">
                                    <label class="container" for=" modesty-1">

                                        <input type="radio" id=" modesty-1" name="ModestDressing"
                                            value="Yes">Yes</input>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container" for=" modesty-2">
                                        <input type="radio" id=" modesty-2" name="ModestDressing" value="No">No</input>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="columncontainer">
                            <div >
                                <label style="padding-top:10px; "><b>
                                        7. My Child is much concerned about prayers when(s)he goes out.</b>
                                </label>
                                <div style=" padding-top:10px; ">
                                    <label class="container" for="prayers-1">

                                        <input type="radio" id="prayers-1" name="PrayersWhenGoesOut"
                                            value="Yes">Yes</input>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container" for="prayers-2">
                                        <input type="radio" id="prayers-2" name="PrayersWhenGoesOut"
                                            value="No">No</input>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td class="columncontainer">
                            <div >
                                <label style="padding-top:10px;"><b>
                                        8. My Child learns additional hours to know islam more.</b>
                                </label>
                                <div style=" padding-top:10px; ">
                                    <label class="container" for="islam-1">

                                        <input type="radio" id="islam-1" name="KnowIslam" value="Yes">Yes</input>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container" for="islam-2">
                                        <input type="radio" id="islam-2" name="KnowIslam" value="No">No</input>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>

                        <td class="columncontainer">
                            <div>
                                <label style="padding-top:10px;"><b>
                                        9. My Child tries to memorize some portions of Quran everyday.</b>
                                </label>
                                <div style=" padding-top:10px; ">
                                    <label class="container" for="memorize-1">

                                        <input type="radio" id="memorize-1" name="MemorizeQuran" value="Yes">Yes</input>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container" for="memorize-2">
                                        <input type="radio" id="memorize-2" name="MemorizeQuran" value="No">No</input>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td class="columncontainer">
                            <div>
                                <label style="padding-top:10px;"><b>
                                        10. My Child says Bismillah when starts something good/useful.</b>
                                </label>
                                <div style=" padding-top:10px; ">
                                    <label class="container" for="Bismillah-1">

                                        <input type="radio" id="Bismillah-1" name="Bismillah" value="Yes">Yes</input>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container" for="Bismillah-2">
                                        <input type="radio" id="Bismillah-2" name="Bismillah" value="No">No</input>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <button class=" btn btn-button rounded btn-xl " onclick="alert('Data submitted successfully!')"
                type="submit">Submit</button>

        </div>

    </form>

    </div>
    </div>
</section>
<style>
    /* The container */
    .page-section {
        margin-left: 50px;
    }

    .form-control {
        border: #ff7f62;
    }

    .container {
        display: block;
        position: relative;
        margin-left: 2px;
        padding-left: 35px;
        margin-bottom: 10px;
        cursor: pointer;
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-align: left;
    }

    /* Hide the browser's default radio button */
    .container input {

        opacity: 0;
        cursor: pointer;
        display: inline;
        border-width: 1px;
        ;
    }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input~.checkmark {
        background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .container input:checked~.checkmark {
        background-color: #2196F3;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container input:checked~.checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;

    }

    .btn-button {
        background-color: #ff7f62;
        color: #fff;
        width: 500px;

    }

    @media only screen and (max-width: 540px) {
         .btn-button{
            width:150px;
            height: 50px;
            font-size: 16px;
            text-align: center;
             margin-bottom:-70px ;
             margin-top:-30px;
         }
        #tablecontent {
            width: 100%;
             !important;
        }

        .columncontainer {
            display: block !important;
            width: 100% !important;
            padding-left:0;
        }
        .columncontainer label{
            font-size: 16px;
            text-align:justify ;
            padding-right:15px;
        }
.content{
        max-width: 540px; !important
        width: 100%;
    
}

        .table {
            font-size: 16px;
            padding-bottom: -20px;

        }

        p {
            font-size: 12px;
        }

        h2 {
            font-size: 16px;

        }

        h5 {
            font-size: 14px;
        }

        h4 {
            font-size: 14;
        }

        .table {
            width: 330px;
            font-size: 16px;

        }

        .page-section {
margin-left: 0;
            padding-top: 160px;
            max-width: 540px;
        }

        .data input {
            width: 150px;
            font-size: 14px;
        }

        .data label {
            font-size: 14px;
        }



    }

    * {
        box-sizing: border-box;
    }
</style>
<script>
    var today = new Date();
    var date = today.getDate() + '-' + (today.getMonth() + 1) + '-' + today.getFullYear();
    document.getElementById("demo").innerHTML = date;
</script>
<!--
<script>
  const month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

  const d = new Date();
  let name = month[d.getMonth()];
  document.getElementById("demo").innerHTML = name;

  var today = new Date();
  var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
  document.getElementById("currentDate").innerHTML = date;

</script>-->