
 
    /* Styling the Body element i.e. Color,
    Font, Alignment */
    body {
    
        font-family: Verdana;
        text-align: center;
    }

    /* Styling the Form (Color, Padding, Shadow) 
    form {
        background-color: #fff;
        max-width: 500px;
        margin: 50px auto;
        padding: 30px 20px;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    }*/

    /* Styling form-control Class */
    .form-control1 {
        text-align: left;
        margin-bottom: 25px;
    }

    /* Styling form-control Label */
    .form-control1 label {
        display: block;
        margin-bottom: 10px;
    }

    /* Styling form-control input,
    select, textarea */
    .form-control1 input,
    .form-control1 select,
    .form-control1 textarea {
        
        font-family: inherit;
        display: block;
        width:auto;    }

    /* Styling form-control Radio
    button and Checkbox */
    .form-control1 input[type="radio"],
    .form-control1 input[type="checkbox"] {
        display:inline-block;
        width:auto;
    }
    td { 
        overflow: hidden; 
        text-overflow: ellipsis; 
        
    }
    @media only screen and (max-width: 480px) {
        /* horizontal scrollbar for tables if mobile screen */
        .tablemobile {
            overflow-x: auto;
            display: block;
        }
    }
    /* Styling Button */
    button {
        background-color: #E0707C;
        border: 1px solid #777;
        border-radius: 2px;
        font-family: inherit;
        font-size: 21px;
        display: block;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 20px;
        color:#fff
    }